<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>Escribanos</h3>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="message.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="message.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mensaje</ion-label>
    <ion-textarea placeholder="Enter more information here..." [(ngModel)]="message.message"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Trabaja</ion-label>
    <ion-checkbox color="primary" [(ngModel)]="worked"></ion-checkbox>
  </ion-item>

  <ion-item *ngIf="worked">
    <ion-label position="floating">Lugar de trabajo</ion-label>
    <ion-input [(ngModel)]="office"></ion-input>
  </ion-item>
  

  <app-take-photo source="photo"  (imageSelected)="imageSeleccionada($event)" 
    (uploadFinished)="uploadFinished($event)"></app-take-photo>


  <ion-card>
    <ion-img [src]="imgData"></ion-img>
    <ion-img [src]="message.image?.url"></ion-img>
    {{message.image | json}}
  </ion-card>
  

  <ion-item>
    <ion-button color="dark" (click)="guardar()">Enviar</ion-button>
  </ion-item>
  

</ion-content>
