<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mensaje de Confirmacion</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  Confirmacion de envio... 

  <div *ngIf="message">
    Saludos  {{message.name}}
  </div>
  




</ion-content>
